<header>
    <div class="logo">AsaBank</div>
    <nav>
        <a href="/" class="nav">Home</a>
        <a href="/login" class="nav">Log in</a>
        <a href="/signup" class="nav">Sign up</a>
        <a href="/about-us" class="nav">About us</a>
    </nav>
</header>